.login-page-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 var(--br-6xl) var(--br-6xl) 0;
    background-color: var(--color-gray-100);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 932px;
    height: 1024px;
  }
  .whatsapp-image-2023-10-03-at-9 {
    position: absolute;
    top: 0;
    left: 744px;
    width: 401px;
    height: 100vh;
    object-fit: cover;
    mix-blend-mode: darken;
  }
  .e-software {
    top: 50%;
  left: 50%;
  transform: translate(351%, 681%);
    font-size: 40px;
    color: rgba(0, 0, 0, 0.79);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 54px;
  }
  .e-software  img {
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-91%, -147%);
    width: 100px;
    height: 100px;
  }
  .already-have-an {
    position: absolute;
    top: 497px;
    left: 100px;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.78);
    display: flex;
    align-items: center;
    width: 302px;
  }
  .span {
    font-weight: 600;
  }
  .login-txt {
    line-break: anywhere;
    width: 100%;
  }
  .login {
    position: absolute;
    top: 558px;
    left: 1023px;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    display: flex;
    align-items: center;
    width: 83px;
    height: 41px;
    cursor: pointer;
  }
  .login2{
    position: absolute;
    top: 495px;
    left: 380px;
    font-size: var(--font-size-5xl);
    color:black;
    display: flex;
    align-items: center;
    width: 83px;
    height: 41px;
    cursor: pointer;
    font-weight: 800;
  }
  .line-div {
    position: absolute;
    top: 744.5px;
    left: 89.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 616.04px;
    height: 1px;
  }
  .login-page-item {
    position: absolute;
    top: 269px;
    left: 88px;
    border-radius: var(--br-mini);
    background-color: var(--color-gray-100);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 615px;
    height: 65px;
  }
  .e-mail {
    position: absolute;
    top: 246px;
    left: 125px;
    font-weight: 600;
    display: inline-block;
    width: 103px;
    height: 42px;
  }
  .login-page-inner,
  .rectangle-div {
    position: absolute;
    border-radius: var(--br-mini);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    height: 65px;
  }
  .login-page-inner {
    top: 561px;
    left: 316px;
    background-color: #fff;
    width: 148px;
    cursor: pointer;
  }
  .rectangle-div {
    top: 411px;
    left: 88px;
    background-color: var(--color-gray-100);
    width: 615px;
  }
  .sign-in {
    position: absolute;
    top: 560px;
    left: 323px;
    width: 135px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign-in button {
    padding: 10px 20px;
    font-size: 28px;
    background-color: transparent;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .log-in,
  .password {
    position: absolute;
    top: 390px;
    left: 125px;
    font-weight: 600;
    display: inline-block;
    width: 155px;
    height: 42px;
  }
  .log-in {
    top: 573px;
    left: 343px;
    width: 105px;
  }
  .log-in1 {
    position: absolute;
    top: 106px;
    left: 88px;
    font-size: 64px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 209px;
    height: 84px;
  }
  .login-page {
    position: relative;
    background-color: #dedada;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-200);
    font-family: var(--font-inter);
  }
  